.page-header {
	min-height: 100%;
	text-align: center;
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: -20px;
}
.header-contents {
	top: 50%;
	left: 40%;
	position:absolute;
}
.header-contents h1 {
	font-size: 100px;
}
